body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #f2f2f2;
}
/* Container */
#container {
  width: 720px;
  margin: 0 auto;
  background: #f2f2f2;
}
/* Marca */
#marca {
  height: 100px;
  background: #9e9e9e;
  text-align: center;
  line-height: 100px;
}
/* Conteudo */
#conteudo {
  width: 520px;
  float: right;
}
#conteudo-principal {
  width: 320px;
  float: left;
  background: #fdf6f6;
}
#conteudo-principal {
  padding-left: 10px;
  padding-right: 10px;
}
#conteudo-secundario {
  width: 180px;
  float: right;
  background: #f5f7e9;
}
#conteudo-secundario ul {
  list-style: none;
}
#conteudo-secundario ul li {
  padding: 10px;
}
#conteudo-secundario h2 {
  padding: 10px;
}
/* Navegaçao */
#navegacao {
  width: 180px;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #d1d1d1;
}
#navegacao ul {
  list-style: none;
}
#navegacao li a {
  text-decoration: none;
}
/* Rodapé */
#rodape {
  clear: both;
  background: #c4c4c4;
  padding: 5px;
  text-align: center;
}
